<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PatientManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                  </configSections>
  <connectionStrings><add name="PatientManagerEntities" connectionString="metadata=res://*/Database.MainDatabase.csdl|res://*/Database.MainDatabase.ssdl|res://*/Database.MainDatabase.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mainserver;User Id=patmgr;password=PASSWORD;database=PatientManager;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <PatientManager.Properties.Settings>
      <setting name="VERSION" serializeAs="String">
        <value>1.2</value>
      </setting>
    </PatientManager.Properties.Settings>
  </applicationSettings>
</configuration>